<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>201027882555-p42om5g8vbi4m5gsecrsmqbqun1smstn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.201027882555-p42om5g8vbi4m5gsecrsmqbqun1smstn</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>201027882555-c9f5i4d0jprbsserhign3nsvv5kdvgft.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDJnsFoPzKAKrr7UB5aYIeY6c6ggyGyvZQ</string>
	<key>GCM_SENDER_ID</key>
	<string>201027882555</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.carRentalApp</string>
	<key>PROJECT_ID</key>
	<string>carrentalapp-8d642</string>
	<key>STORAGE_BUCKET</key>
	<string>carrentalapp-8d642.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:201027882555:ios:a74ce1411d980ae967561e</string>
</dict>
</plist>